@import "tailwindcss";
@plugin "daisyui";

.primary{
  background-color: #FF3811;
  color: white;
  border: 1px solid orange;
  padding: 8px 10px;
  border-radius: 3px;
  font-size: large;
}
.primary:hover{
  background-color: red;
  border: 1px solid yellow;
}
.secondary{
  color: #FF3811;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid  #FF3811;
  font-size: 16px;
  font-weight: 500;
  background-color: hov;
}
.secondary:hover{
background-color: #FF3811;
color: white;
}